body{
	background: plum;
}
body, *{
margin: 0px;
padding: 0px;
font-family: "Times New Roman", Times, serif;
box-sizing: border-box;
}
h1{
	text-align: center;
	color: #556789;
	font-size: 28px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.main-container{
	position: relative;
	margin-left: 3%;
	margin-right: 1%;
}
.part1, .part2, .part3{
	position: relative;
	max-width: 31%;
	display: inline;
	float: left;
	border: 2px solid #000;
	padding: 5px 0px;
	background: #e4eef5;
	margin-right: 2%;
	height: 150px;
	overflow: scroll;
}
h2{
	text-align: right;
	color: #556789;
	font-size: 20px;
	display: block;
}
h2 > span{
	border: 2px solid #000;
	padding: 5px 10px;
}
#span1{
	background: beige;
}
#span2{
	background: pink;
}
#span3{
	background: yellowgreen;
}
p{
	color: #7788a3;
	padding: 20px 10px;
}

@media (max-width: 992px ) and (min-width: 768px){
	.part3{
		clear: both;
		max-width: 100%;
		margin-top: 2%
	}
	.part1 , .part2{
		max-width: 48%;
	}
}
@media (max-width: 767px){
	.part1 , .part2, .part3{
		clear: both;
		max-width: 100%
	}
	.part2, .part3{
		margin-top: 2%;
	}
}